.card-details {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    transition: color 0.3s ease;
    color: #595d6e;
}

.card {
    background-color: transparent!important;
    border: 0px solid transparent!important;
}

.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__media img {
    width: 150px !important;
}

.portlet-info {
    margin-bottom: 0px !important;
}

.portlet-cars {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
}

.portlet-cars .kt-portlet__body {
    padding: 10px 25px 10px 25px !important;
}

.portlet-cars .kt-widget31 .kt-widget31__item .kt-widget31__content:last-child {
    width: 100% !important;
}

.portlet-cars .kt-widget31 .kt-widget31__item .kt-widget31__content .kt-widget31__info {
    padding: 0 10px !important;
}

.portlet-cars .kt-widget31 {
    border-bottom: 1px solid #EEE !important;
    padding: 10px 0px;
}

.kt-widget-dispatch-car {
    border: 1px dashed #C6C6C6;
    border-radius: 5px;
    padding: 18px 10px;
}

.kt-widget-dispatch-car.kt-widget.kt-widget--user-profile-1 {
    padding-bottom: 1.2rem;
}

.kt-widget-dispatch-car.kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__content {
    padding: 1.2rem 0 0rem 0 !important;
}

.form-control[readonly] {
    background-color: #f7f8fa;
}

.form-control::placeholder {
    color: #ccc;
    opacity: 1;
}

.errorTxt{
    /*border: 1px solid red;*/
    min-height: 20px;
}

#errorCardNumberText{
    color: red!important;
}

#errorCVVText{
    color: red!important;
}

#errorAddressText{
    color: red!important;
}

#errorCountryText{
    color: red!important;
}

#errorPostalCodeText{
    color: red!important;
}

#errorStateText{
    color: red!important;
}

#errorCityText{
    color: red!important;
}

#errorMonthText{
    color: red!important;
}

#errorYearText{
    color: red!important;
}

#errorMessageText{
    color: red!important;
}

#errorSuggestedTime1Text{
    color: red!important;
}

#errorSuggestedTime2Text{
    color: red!important;
}

#errorSuggestedTime3Text{
    color: red!important;
}

.login-button {
    background-color: #dddddd5c;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.login-button:hover {
    background-color: #ddd;
}

.dashboard-button {
    padding: 10px;
    border-radius: 5px;
}

.dashboard-button:hover {
    padding: 10px;
    background: rgba(225, 225, 239, 0.47);
}

.dollar:before {
    content: "$";
    position: absolute;
    color: #9c9c9c;
    margin-left: 10px;
    pointer-events: none;
    top: 3px;
}

.active1 {
    background-color: #d3d3d378
}

.active2 {
    background-color: rgba(211, 211, 211, 0)
}
